<div class="main__top-bar">
  <div class="top-bar {{"isRightToLeft" top-bar_direction-rtl}}">
    <div class="top-bar__content">
      <div class="top-bar__mobile"> 00961 3 765495 </div>
      <div class="top-bar__language" {{action "changeLanguage"}}>
        {{t "general.english"}}
      </div>
    </div>
  </div>
</div>
<div class="main__header">
  {{x-header}}
</div>
<div class="main__banner">
  {{x-banner}}
</div>
<div class="main__about-us" id="about-us">
  {{about-us}}
</div>
<div class="main__services" id="services">
  {{x-services}}
</div>
<div class="main__workwithus" id="work-with-us">
  {{work-with-us}}
</div>
<div class="main__contact-us" id="contact-us">
  {{contact-us}}
</div>
<div class="main__footer">
  {{x-footer}}
</div>
